{% extends "layout.html" %}
{% block content %}

    <div class="font">
        <h1>Mud Ye Shop</h1>
        <a>Mud Ye Shop is a online shop platform which aim to bring you the best products whatever you want.
            <br>What are we selling for?
            <br>We sell anything you want!!
            <br>Try to explore more through our shop!
        </a>

        <a href="https://www.carousell.com.hk/mud_ye_shop/">Here's the link !!</a>
    </div>

    <div>
    <img src="static/pics/carousell_page.png" style="width: 800px; height: 700; margin-top: 50px;">
    </div>
    
{% endblock content %}
